/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  box-sizing: border-box;
  font-family: 'Varela Round', sans-serif; }

.header {
  height: 8rem; }

.container {
  max-width: 120rem;
  margin: auto; }
  @media only screen and (min-width: 112.5em) {
    .container {
      width: 130rem; } }
  @media only screen and (max-width: 75em) {
    .container {
      width: 100rem; } }
  @media only screen and (max-width: 56.25em) {
    .container {
      width: 80%; } }
  @media only screen and (max-width: 37.5em) {
    .container {
      width: 85%; } }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

.navbar {
  position: fixed;
  background-color: #fff;
  top: 0;
  left: 0;
  width: 100%; }
  .navbar-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 80px; }
    @media only screen and (max-width: 37.5em) {
      .navbar-wrap {
        justify-content: space-around; } }
  .navbar .logo {
    text-align: center;
    color: #383836; }
    .navbar .logo__text {
      display: inline-block;
      font-size: 2.1rem;
      background-color: #F9DD1A;
      border-radius: 5px;
      padding: 2px 5px;
      margin-bottom: 2px;
      font-family: 'Fredoka One', coursive, sans-serif; }
      @media only screen and (max-width: 37.5em) {
        .navbar .logo__text {
          font-size: 2.5rem; } }
    .navbar .logo__description {
      font-size: 1.5rem;
      display: block;
      font-weight: bolder; }
  .navbar .menu {
    position: fixed;
    top: 80px;
    padding: 16px 0;
    background-color: #F9DD1A;
    width: 100%;
    transition: 0.2s;
    transform: translateY(0%); }
    .navbar .menu_active {
      transform: translateY(0); }
    .navbar .menu__nav {
      display: flex;
      align-items: center;
      justify-content: space-around; }
      @media only screen and (max-width: 37.5em) {
        .navbar .menu__nav {
          flex-direction: column;
          align-content: space-around;
          height: 23rem; } }
    .navbar .menu__link {
      text-transform: uppercase;
      font-size: 2.2rem;
      text-decoration: none;
      color: #fff; }
      @media only screen and (max-width: 37.5em) {
        .navbar .menu__link {
          font-size: 3rem; } }
      @media only screen and (min-width: 112.5em) {
        .navbar .menu__link {
          font-size: 2rem; } }
    .navbar .menu-button {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      background-color: transparent;
      height: 80px;
      width: 70px;
      border: none; }
      .navbar .menu-button__line {
        display: block;
        width: 20px;
        height: 3px;
        background-color: #383836;
        margin: 2px 0; }

.hero {
  height: 100vh;
  background-image: linear-gradient(to right bottom, rgba(217, 216, 211, 0.6), rgba(246, 246, 246, 0.5)), url("./../img/hero-bc.jpg");
  background-size: cover;
  background-position: top; }
  .hero__title {
    font-size: 4rem;
    font-family: 'Fredoka One', coursive, sans-serif;
    color: #383836;
    letter-spacing: 1.5px; }
  .hero__description {
    font-size: 1.5rem; }

.hero-text {
  width: 20rem;
  position: absolute;
  top: 40%; }
  @media only screen and (max-width: 56.25em) {
    .hero-text {
      width: 100%; } }
