/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  box-sizing: border-box;
  font-family: 'Varela Round', sans-serif; }

.header {
  height: 8rem; }

.container {
  max-width: 120rem;
  margin: auto; }
  @media only screen and (min-width: 112.5em) {
    .container {
      width: 130rem; } }
  @media only screen and (max-width: 75em) {
    .container {
      width: 100rem; } }
  @media only screen and (max-width: 56.25em) {
    .container {
      width: 80%; } }
  @media only screen and (max-width: 37.5em) {
    .container {
      width: 85%; } }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

.navbar {
  position: fixed;
  background-color: #fff;
  top: 0;
  left: 0;
  width: 100%; }
  .navbar-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 80px; }
    @media only screen and (max-width: 37.5em) {
      .navbar-wrap {
        justify-content: space-around; } }
  .navbar .logo {
    text-align: center;
    color: #383836; }
    .navbar .logo__text {
      display: inline-block;
      font-size: 2.1rem;
      background-color: #F9DD1A;
      border-radius: 5px;
      padding: 2px 5px;
      margin-bottom: 2px;
      font-family: 'Fredoka One', coursive, sans-serif; }
      @media only screen and (max-width: 37.5em) {
        .navbar .logo__text {
          font-size: 2.5rem; } }
    .navbar .logo__description {
      font-size: 1.5rem;
      display: block;
      font-weight: bolder; }
  .navbar .menu {
    position: fixed;
    top: 80px;
    padding: 16px 0;
    background-color: #F9DD1A;
    width: 100%;
    transition: 0.2s;
    transform: translateY(0%); }
    .navbar .menu_active {
      transform: translateY(0); }
    .navbar .menu__nav {
      display: flex;
      align-items: center;
      justify-content: space-around; }
      @media only screen and (max-width: 37.5em) {
        .navbar .menu__nav {
          flex-direction: column;
          align-content: space-around;
          height: 23rem; } }
    .navbar .menu__link {
      text-transform: uppercase;
      font-size: 2.2rem;
      text-decoration: none;
      color: #fff; }
      @media only screen and (max-width: 37.5em) {
        .navbar .menu__link {
          font-size: 3rem; } }
      @media only screen and (min-width: 112.5em) {
        .navbar .menu__link {
          font-size: 2rem; } }
    .navbar .menu-button {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      background-color: transparent;
      height: 80px;
      width: 70px;
      border: none; }
      .navbar .menu-button__line {
        display: block;
        width: 20px;
        height: 3px;
        background-color: #383836;
        margin: 2px 0; }

.hero {
  height: 100vh;
  background-image: linear-gradient(to right bottom, rgba(217, 216, 211, 0.6), rgba(246, 246, 246, 0.5)), url("./../img/hero-bc.jpg");
  background-size: cover;
  background-position: top;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  @media only screen and (max-width: 56.25em) {
    .hero {
      flex-direction: column; } }
  .hero__title {
    font-size: 4rem;
    font-family: 'Fredoka One', coursive, sans-serif;
    color: #383836;
    letter-spacing: 1.5px; }
  .hero__description {
    font-size: 1.5rem; }

.hero-text {
  display: block;
  max-width: 40rem; }
  @media only screen and (max-width: 56.25em) {
    .hero-text {
      width: 100%; } }

form {
  margin-top: 8rem;
  transition: all 2s ease-in-out; }

.contact-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 44rem;
  background-color: rgba(249, 221, 26, 0.8);
  border-radius: 3rem;
  outline: none;
  font-size: 1.8rem;
  padding: 3rem 6rem; }
  .contact-form input, .contact-form select, .contact-form textarea {
    border: none;
    border-bottom: 1px solid #D9D8D3;
    width: 100%;
    padding: 1rem;
    margin: 1rem 0;
    border-radius: .7rem;
    font-family: inherit;
    outline: none; }
    .contact-form input[type=submit], .contact-form select[type=submit], .contact-form textarea[type=submit] {
      width: 25rem;
      border-radius: 10rem;
      font-family: 'Varela Round', sans-serif;
      text-transform: uppercase; }
  .contact-form textarea {
    resize: none;
    overflow: auto;
    outline: none;
    margin-bottom: 2rem;
    color: #383836; }
  .contact-form select {
    color: #383836; }
    .contact-form select option {
      outline: none; }
  .contact-form__title {
    color: #383836;
    font-size: 3.2rem;
    width: 100%;
    font-weight: bold;
    text-align: center; }

.btn {
  transition: all 0.2s;
  background-color: #383836;
  color: #fff;
  font-family: inherit; }
  .btn, .btn:link, .btn:visited {
    font-size: 1.6rem;
    border-radius: 10rem;
    display: block;
    border: none;
    padding: 1.5rem 4rem;
    cursor: pointer;
    text-align: center;
    margin: auto; }
  .btn:hover {
    box-shadow: 0 0.5px 2rem rgba(0, 0, 0, 0.2);
    transform: translateY(-3px); }
  .btn:focus {
    outline-style: none; }
  .btn:active {
    transform: translateY(-1px);
    border: none; }
