.hero { height: 100vh;
  background-image: linear-gradient(to right bottom,
          rgba($color-grey, 0.6),
          rgba($color-grey-light, 0.5)),
  url("./../img/hero-bc.jpg");
  background-size: cover;
  background-position: top;
  display: flex;
  justify-content: space-around;
  align-items: center;
         
  @include respond(tab-port){
    flex-direction: column;
  }

  &__title{
    font-size: 4rem;
   @include bold;
    color: $color-primary-brown;
    letter-spacing: 1.5px;
  }

  &__description{
    font-size: 1.5rem;
  }
}
.hero-text {
  display: block;
  max-width: 40rem;

  @include respond(tab-port){
    width: 100%;
  }
}