.navbar {
  position: fixed;
  background-color: #fff;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 40;

  .menu-over{
    position: relative;
    background-color: #ffffff;
  }

  &-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 80px;
    @include respond( phone ){
      justify-content: space-around;
    }
  }
  .logo{
    text-align: center;
    color: $color-primary-brown;

    &__text{
      display: inline-block;
      font-size: 2.1rem;
      background-color: $color-primary;
      border-radius: 5px;
      padding: 2px 5px;
      margin-bottom: 2px;
      @include bold;

      @include respond(phone){
        font-size: 2.5rem;
      }
    }
    &__description{
      font-size: 1.5rem;
      display: block;
      font-weight: bolder;
    }
  }
}