.navbar {position: fixed;
  background-color: #fff;
  top: 0;
  left: 0;
  width: 100%;

  &-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 80px;
    @include respond( phone ){
      justify-content: space-around;
    }
  }
  .logo{
    text-align: center;
    color: $color-primary-brown;


    &__text{
      display: inline-block;
      font-size: 2.1rem;
      background-color: $color-primary;
      border-radius: 5px;
      padding: 2px 5px;
      margin-bottom: 2px;
      @include bold;

      @include respond(phone){
        font-size: 2.5rem;
      }
    }
    &__description{
      font-size: 1.5rem;
      display: block;
      font-weight: bolder;
    }
  }

  .menu {
    position: fixed;
    top: 80px;
    padding: 16px 0;
    background-color: rgba($color-primary, .9);
    width: 100%;
    transition: 0.2s;
    transform: translateY(0%);
    &_active{
      transform: translateY(0);
    }
    &__nav{
      display: flex;
      align-items: center;
      justify-content: space-around;

      @include respond(phone){
        flex-direction: column;
        align-content: space-around;
        height: 23rem;

      }
    }

    &__link{
      text-transform: uppercase;
      font-size: 2.2rem;
      text-decoration: none;
      color: #fff;
      @include respond(phone){
        font-size: 3rem;
      }
      @include respond(big-desktop){
        font-size: 2rem;
      }
    }



    &-button {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      background-color: transparent;
      height: 80px;
      width: 70px;
      border: none;

      &__line {
        display: block;
        width: 20px;
        height: 3px;
        background-color: $color-primary-brown;
        margin: 2px 0;
      }
    }
  }

}